In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%cd '/content/drive/MyDrive/Colab Notebooks/db'
!ls

/content/drive/MyDrive/Colab Notebooks/db
conexion_bd.ipynb	   FBITC012091.csv  test.hdf   test.parquet  test.xls
Copia_de_superstore_1.xls  test.csv	    test.json  test.pkl

In [5]:
import pandas as pd
pd.__version__

'1.1.5'

In [6]:
df_crimes_florida = pd.read_csv('FBITC012091.csv')
df_crimes_florida 
#.head() muestra los primeros 5 registros, pero si coloco el número de filas que quiero ver entre parentesis los trae 
#.tail() funciona igaul que el anterior pero son los últimos datos
#.sample() tambien funciona igual pero los datos son aleatorios.

          DATE  FBITC012091
0   2004-01-01       3713.0
1   2005-01-01       3947.0
2   2006-01-01       3949.0
3   2007-01-01       4263.0
4   2008-01-01       4231.0
5   2009-01-01       3767.0
6   2010-01-01       3819.0
7   2011-01-01       3903.0
8   2012-01-01       3705.0
9   2013-01-01       3283.0
10  2014-01-01       3658.0
11  2015-01-01       3665.0
12  2016-01-01       3642.0
13  2017-01-01       3469.0
14  2018-01-01       3250.0
15  2019-01-01       2910.0
16  2020-01-01       2373.0

In [7]:
df_crimes_florida.shape   #muestra cuantas filas y columnas tiene

(17, 2)

In [8]:
df_crimes_florida.size #muestra el total de registos que es multiplicar FxC

34

In [9]:
df_crimes_florida.describe() #indica el tipo de variables numericas de la tabla (investigar el resultado)

       FBITC012091
count    17.000000
mean   3620.411765
std     467.402538
min    2373.000000
25%    3469.000000
50%    3705.000000
75%    3903.000000
max    4263.000000

In [10]:
pd.options.display.float_format = '{:,.1f}'.format #reduce el número de decimales que quiero ver y colocandole una coma despues de 3 digitos

In [11]:
df_crimes_florida.describe()

       FBITC012091
count         17.0
mean       3,620.4
std          467.4
min        2,373.0
25%        3,469.0
50%        3,705.0
75%        3,903.0
max        4,263.0

In [12]:
df_crimes_florida.describe(include='all') #trae los datos de las descripciones de las variables

              DATE  FBITC012091
count           17         17.0
unique          17          nan
top     2011-01-01          nan
freq             1          nan
mean           NaN      3,620.4
std            NaN        467.4
min            NaN      2,373.0
25%            NaN      3,469.0
50%            NaN      3,705.0
75%            NaN      3,903.0
max            NaN      4,263.0

In [13]:
df_crimes_florida.info() #muestra las categorías de las variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         17 non-null     object
 1   FBITC012091  17 non-null     float64
dtypes: float64(1), object(1)
memory usage: 400.0+ bytes

In [14]:
df_crimes_florida.dtypes #muestra más especificamente y solamente el tipo de variable

DATE            object
FBITC012091    float64
dtype: object

In [16]:
df_crimes_florida.convert_dtypes().dtypes #de esta forma identifica, más concretamente el tipo de variable

DATE           string
FBITC012091     Int64
dtype: object

In [17]:
df_crimes_florida.nunique()

DATE           17
FBITC012091    17
dtype: int64

In [25]:
df_crimes_florida[['DATE','FBITC012091']]=df_crimes_florida[['DATE','FBITC012091']].astype('category')
df_crimes_florida.dtypes

DATE           category
FBITC012091    category
dtype: object

In [26]:
df_crimes_florida['DATE'].unique()

['2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01', ..., '2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01']
Length: 17
Categories (17, object): ['2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', ..., '2017-01-01',
                          '2018-01-01', '2019-01-01', '2020-01-01']

In [28]:
df_crimes_florida['DATE'].value_counts() #cuenta cuantas veces aparece cada variable en la columna que le indiquemos

2020-01-01    1
2011-01-01    1
2005-01-01    1
2006-01-01    1
2007-01-01    1
2008-01-01    1
2009-01-01    1
2010-01-01    1
2012-01-01    1
2019-01-01    1
2013-01-01    1
2014-01-01    1
2015-01-01    1
2016-01-01    1
2017-01-01    1
2018-01-01    1
2004-01-01    1
Name: DATE, dtype: int64

In [29]:
pd.get_dummies(df_crimes_florida['DATE'])

    2004-01-01  2005-01-01  2006-01-01  ...  2018-01-01  2019-01-01  2020-01-01
0            1           0           0  ...           0           0           0
1            0           1           0  ...           0           0           0
2            0           0           1  ...           0           0           0
3            0           0           0  ...           0           0           0
4            0           0           0  ...           0           0           0
5            0           0           0  ...           0           0           0
6            0           0           0  ...           0           0           0
7            0           0           0  ...           0           0           0
8            0           0           0  ...           0           0           0
9            0           0           0  ...           0           0           0
10           0           0           0  ...           0           0           0
11           0           0           0  ...           0           0           0
12           0           0           0  ...           0           0           0
13           0           0           0  ...           0           0           0
14           0           0           0  ...           1           0           0
15           0           0           0  ...           0           1           0
16           0           0           0  ...           0           0           1

[17 rows x 17 columns]

In [41]:
df_crimes_florida['crear_col']=['2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01','2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01','2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01','2007-01-01', '2008-01-01']
df_crimes_florida

          DATE FBITC012091   crear_col
0   2004-01-01     3,713.0  2004-01-01
1   2005-01-01     3,947.0  2005-01-01
2   2006-01-01     3,949.0  2006-01-01
3   2007-01-01     4,263.0  2007-01-01
4   2008-01-01     4,231.0  2008-01-01
5   2009-01-01     3,767.0  2004-01-01
6   2010-01-01     3,819.0  2005-01-01
7   2011-01-01     3,903.0  2006-01-01
8   2012-01-01     3,705.0  2007-01-01
9   2013-01-01     3,283.0  2008-01-01
10  2014-01-01     3,658.0  2004-01-01
11  2015-01-01     3,665.0  2005-01-01
12  2016-01-01     3,642.0  2006-01-01
13  2017-01-01     3,469.0  2007-01-01
14  2018-01-01     3,250.0  2008-01-01
15  2019-01-01     2,910.0  2007-01-01
16  2020-01-01     2,373.0  2008-01-01

In [49]:
df_crimes_florida[['Prueba1','Prueba2','Prueba3','Prueba4','Prueba5','Prueba6','Prueba7','Prueba8','Prueba9','Prueba10','Prueba11','Prueba12','Prueba13','Prueba14','Prueba15','Prueba16','Prueba17']]=pd.get_dummies(df_crimes_florida['DATE'])

In [50]:
df_crimes_florida

          DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   2004-01-01     3,713.0  2004-01-01  ...         0         0         0
1   2005-01-01     3,947.0  2005-01-01  ...         0         0         0
2   2006-01-01     3,949.0  2006-01-01  ...         0         0         0
3   2007-01-01     4,263.0  2007-01-01  ...         0         0         0
4   2008-01-01     4,231.0  2008-01-01  ...         0         0         0
5   2009-01-01     3,767.0  2004-01-01  ...         0         0         0
6   2010-01-01     3,819.0  2005-01-01  ...         0         0         0
7   2011-01-01     3,903.0  2006-01-01  ...         0         0         0
8   2012-01-01     3,705.0  2007-01-01  ...         0         0         0
9   2013-01-01     3,283.0  2008-01-01  ...         0         0         0
10  2014-01-01     3,658.0  2004-01-01  ...         0         0         0
11  2015-01-01     3,665.0  2005-01-01  ...         0         0         0
12  2016-01-01     3,642.0  2006-01-01  ...         0         0         0
13  2017-01-01     3,469.0  2007-01-01  ...         0         0         0
14  2018-01-01     3,250.0  2008-01-01  ...         1         0         0
15  2019-01-01     2,910.0  2007-01-01  ...         0         1         0
16  2020-01-01     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 20 columns]

In [52]:
df_crimes_florida['DATE']

0     2004-01-01
1     2005-01-01
2     2006-01-01
3     2007-01-01
4     2008-01-01
5     2009-01-01
6     2010-01-01
7     2011-01-01
8     2012-01-01
9     2013-01-01
10    2014-01-01
11    2015-01-01
12    2016-01-01
13    2017-01-01
14    2018-01-01
15    2019-01-01
16    2020-01-01
Name: DATE, dtype: category
Categories (17, object): ['2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', ..., '2017-01-01',
                          '2018-01-01', '2019-01-01', '2020-01-01']

In [63]:
pd.to_datetime(
df_crimes_florida['DATE'],
errors='coerce',
format = '%m/%d/%Y %H:%M:%S %p',
)    #convertir en formato tiempo

0    NaT
1    NaT
2    NaT
3    NaT
4    NaT
5    NaT
6    NaT
7    NaT
8    NaT
9    NaT
10   NaT
11   NaT
12   NaT
13   NaT
14   NaT
15   NaT
16   NaT
Name: DATE, dtype: datetime64[ns]

In [64]:
df_crimes_florida['DATE']= pd.to_datetime(
df_crimes_florida['DATE'],
errors='coerce',
format = '%m/%d/%Y %H:%M:%S %p',
)

In [65]:
df_crimes_florida.dtypes

DATE           datetime64[ns]
FBITC012091          category
crear_col              object
Prueba1                 uint8
Prueba2                 uint8
Prueba3                 uint8
Prueba4                 uint8
Prueba5                 uint8
Prueba6                 uint8
Prueba7                 uint8
Prueba8                 uint8
Prueba9                 uint8
Prueba10                uint8
Prueba11                uint8
Prueba12                uint8
Prueba13                uint8
Prueba14                uint8
Prueba15                uint8
Prueba16                uint8
Prueba17                uint8
dtype: object

In [67]:
df_crimes_florida

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   NaT     3,713.0  2004-01-01  ...         0         0         0
1   NaT     3,947.0  2005-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         0         0         0
14  NaT     3,250.0  2008-01-01  ...         1         0         0
15  NaT     2,910.0  2007-01-01  ...         0         1         0
16  NaT     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 20 columns]

In [71]:
df_crimes_florida.rename(columns={'Prueba1':'PRUEBA1'},inplace=True) #cambia el nombre de las columnas

In [72]:
df_crimes_florida

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   NaT     3,713.0  2004-01-01  ...         0         0         0
1   NaT     3,947.0  2005-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         0         0         0
14  NaT     3,250.0  2008-01-01  ...         1         0         0
15  NaT     2,910.0  2007-01-01  ...         0         1         0
16  NaT     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 20 columns]

In [73]:
list(df_crimes_florida)   #obtiene los nombres de las columnas

['DATE',
 'FBITC012091',
 'crear_col',
 'PRUEBA1',
 'Prueba2',
 'Prueba3',
 'Prueba4',
 'Prueba5',
 'Prueba6',
 'Prueba7',
 'Prueba8',
 'Prueba9',
 'Prueba10',
 'Prueba11',
 'Prueba12',
 'Prueba13',
 'Prueba14',
 'Prueba15',
 'Prueba16',
 'Prueba17']

In [79]:
df_crimes_florida.drop(['Prueba4','Prueba5'],axis=1,inplace=True) #para borrar las columas con esos nombres, el inplace hace efectivo el cambio de inmediato sinterner que asignarle eso a una variable
df_crimes_florida

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   NaT     3,713.0  2004-01-01  ...         0         0         0
1   NaT     3,947.0  2005-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         0         0         0
14  NaT     3,250.0  2008-01-01  ...         1         0         0
15  NaT     2,910.0  2007-01-01  ...         0         1         0
16  NaT     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 16 columns]

In [81]:
df_crimes_florida.drop([0,2,4,5]).head(8) #elimina las filas indicadas por su número de índice

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
1   NaT     3,947.0  2005-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0

[8 rows x 16 columns]

In [84]:
df_crimes_florida.drop(columns=['Prueba6','Prueba17'],index=[1,10]) #borra columnas y filas al mismo tiempo

   DATE FBITC012091   crear_col  ...  Prueba14  Prueba15  Prueba16
0   NaT     3,713.0  2004-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         1         0         0
14  NaT     3,250.0  2008-01-01  ...         0         1         0
15  NaT     2,910.0  2007-01-01  ...         0         0         1
16  NaT     2,373.0  2008-01-01  ...         0         0         0

[15 rows x 14 columns]

In [87]:
df = df_crimes_florida.copy(deep=True)
df

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   NaT     3,713.0  2004-01-01  ...         0         0         0
1   NaT     3,947.0  2005-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         0         0         0
14  NaT     3,250.0  2008-01-01  ...         1         0         0
15  NaT     2,910.0  2007-01-01  ...         0         1         0
16  NaT     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 16 columns]

In [90]:
df.drop(columns=['Prueba7','Prueba8'],axis=1,inplace=True)
df_crimes_florida
df

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   NaT     3,713.0  2004-01-01  ...         0         0         0
1   NaT     3,947.0  2005-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         0         0         0
14  NaT     3,250.0  2008-01-01  ...         1         0         0
15  NaT     2,910.0  2007-01-01  ...         0         1         0
16  NaT     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 12 columns]

In [91]:
df_crimes_florida

   DATE FBITC012091   crear_col  ...  Prueba15  Prueba16  Prueba17
0   NaT     3,713.0  2004-01-01  ...         0         0         0
1   NaT     3,947.0  2005-01-01  ...         0         0         0
2   NaT     3,949.0  2006-01-01  ...         0         0         0
3   NaT     4,263.0  2007-01-01  ...         0         0         0
4   NaT     4,231.0  2008-01-01  ...         0         0         0
5   NaT     3,767.0  2004-01-01  ...         0         0         0
6   NaT     3,819.0  2005-01-01  ...         0         0         0
7   NaT     3,903.0  2006-01-01  ...         0         0         0
8   NaT     3,705.0  2007-01-01  ...         0         0         0
9   NaT     3,283.0  2008-01-01  ...         0         0         0
10  NaT     3,658.0  2004-01-01  ...         0         0         0
11  NaT     3,665.0  2005-01-01  ...         0         0         0
12  NaT     3,642.0  2006-01-01  ...         0         0         0
13  NaT     3,469.0  2007-01-01  ...         0         0         0
14  NaT     3,250.0  2008-01-01  ...         1         0         0
15  NaT     2,910.0  2007-01-01  ...         0         1         0
16  NaT     2,373.0  2008-01-01  ...         0         0         1

[17 rows x 16 columns]